
body {
    background-color: #dddddd;
    max-width: 1200px;
}

.signin {
    margin-top: 15px;
    margin-right: 15px;
    width:100px;
    float:right;
}



.price {
    color: green;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bid-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom:10px;
}

.coin-container {
    text-align: center;
}




